[Desktop Entry]
Name=CHSWX on Twitter
Type=Application
Icon=/home/htplainf/utils/chswx.png
Exec=/usr/bin/google-chrome --app=https://twitter.com/search?q=chswx&src=typd&f=live&vertical=default
