[Desktop Entry]
Name=CHSWX on Twitter
Type=Application
Icon=/home/htplainf/projects/utils/chswx.png
Exec=/snap/bin/chromium --app='https://twitter.com/search?q=chswx&src=typd&f=live&vertical=default'
