[Desktop Entry]
Name=MythTV Frontend 
Type=Application
Icon=mythtv
Exec=mythfrontend
X-Ayatana-Desktop-Shortcuts=800x450;1920x1080

[800x450 Shortcut Group]
Name=800x450
Exec=mythfrontend -geometry 800x450
OnlyShowIn=Unity

[1920x1080 Shortcut Group]
Name=1920x1080
Exec=mythfrontend -geometry 1920x1080
OnlyShowIn=Unity

